.custom-link {
    font-weight: bold;
    color: black;
    text-decoration: none;
  }
  
  .custom-link:hover {
    color: black; /* Ensure the color stays black when hovered */
    text-decoration: none; /* Ensure underline does not appear on hover */
  }