.container {
    padding: 0 24px;
  }
  .tabs {
    display: flex;
    border-bottom: 1px solid #c6c6c6;
  }
  .tab-button {
    padding: 8px 16px;
    border-radius: 0;
    border: none;
    background: transparent;
    border-bottom: 2px solid transparent;
    margin-bottom: -2px;
  }
  .tab-button:hover {
    border-bottom: 2px solid #1d3557;
  }
  .tab-button.active {
    border-bottom: 2px solid #1d3557;
    color: #1d3557;
    font-weight: 700;
  }
  .tab-page {
    padding: 24px 16px 16px 16px;
    display: none;
  }
  .tab-page.active {
    display: block;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-left: auto;
    flex-grow: 1;
}

.form-group {
    margin-bottom: 24px;
}

.fixed-width-label {
    min-width: 185px; /* Consistent label width for all input groups */
}

.input-group-text {
    background-color: #f8f9fa;
    color: #212529;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group {
    margin-bottom: 16px;
}